$theme-colors: (
  "primary": #0091ea //Covalence Blue!  :D,
);

#home {
  height: 100vh;
}

#messageDiv {
  height: auto;
  max-height: 100%;
}

#loginNav {
  height: 2rem;
  width: 100%;
}

#successAlert {
  display: none;
}

.shoeIMG {
  height: auto;
  max-height: 100%;
  width: auto;
  max-width: 100%;
}

.card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
