$theme-colors: (
  "primary": #0091ea //Covalence Blue!  :D,,,,,,,,
);

#home {
  height: 100vh;
}

#messages,
#inventory,
#employees {
  height: 100vh;
  max-width: 100vw;
  overflow-y: scroll;
}

#messageDiv {
  height: auto;
  max-height: 100%;
}

#loginNav {
  height: 2rem;
  width: 100%;
}

#messageAlert,
#inventoryAlert,
#employeeAlert {
  display: none;
}

.hide {
  display: none !important;
}

.feather-x {
  cursor: pointer !important;
}

.active {
  border-bottom: 2px solid black;
}

.shoeIMG {
  height: auto;
  max-height: 100%;
  width: auto;
  max-width: 100%;
}

.card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}

#shoeName {
  font-size: 2rem;
  font-weight: 700;
}

#shoePrice {
  font-size: 1.25rem;
  font-weight: 300;
}

#shoeType,
#shoePurpose {
  font-size: 1rem;
  font-weight: 600;
  font-style: italic;
}

#logout {
  cursor: pointer;
  position: absolute;
  right: 20px;
}

#messageModal,
#inventoryModal,
#employeeModal {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba($color: #000000, $alpha: 0.8);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  padding: 2rem;
  display: none;
  overflow-y: scroll;
}

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
